/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --original-planty-green: #3b8e46;
    --white-coffee-planty: #ece2da;
    --planty-pale-rose: #e0b9b4; 
    --planty-salmon-rose: #dc9f96; 
    --red-argile-planty:#d2776a;
    --red-hover-planty: #c02e44;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width:100%;
    overflow: hidden;

}
/* ===================================== */
/*                 HEADER                */
/* ===================================== */
#header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 201px;
}
#menu-principal {
    display: flex;
    align-items: center;
}
#menu-principal li {
    display: inline-block;
    margin-inline-start: 20px;
    order: 0;
}
#menu-principal li.lien-admin {
    order: 2;
    padding-right: 24px;
}
#menu-principal li.commander {
    background-color: var(--planty-salmon-rose);
    height: 80px;
    margin: 0;
    padding: 30px 24px;
    font-weight: 700;
    order:3;
}
.commander a {
    color: #fff;
}
#menu-principal li.commander:hover {
    background-color: var(--red-hover-planty);
}
a {
    text-decoration: none;
    color:#000;
}
h2 {
    font-family:  "Syne", sans-serif;
    font-weight: 800;
    color: var(--original-planty-green);
}

h3 {
    font-family:  "Syne", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: var(--original-planty-green);
}
h4 {
    font-family:  "Syne", sans-serif;   
}
p,a {
    font-family: "Syne", sans-serif;
    font-weight: 400;
    padding: 20px;
}
p{
    font-size: 20px;
    line-height: 1.2;
}
/* ===================================== */
/*      SECTION HERO PAGE D'ACCEUIL      */
/* ===================================== */
.titre-accueil {
    background-color: var(--white-coffee-planty);
    font-size: 38px;
    padding-top: 100px;
    width: 100%;
}
.hero-feuille>div {
    background-color: var(--white-coffee-planty);
    border-radius: 0% 0% 50% 50% / 0% 0% 10% 10% ;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.canette {
    z-index: 1;
}
.feuille-gauche {
    position: absolute;
    top:26%;
    align-self: center;
    margin-right: 360px;
}
.feuille-droite {
    position: absolute;
    top:26%;
    align-self: center;
    margin-left: 352px;
}

/* ===================================== */
/*     SECTION ENERGIE PAGE D'ACCEUIL    */
/* ===================================== */
.energie {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.energie-plantes {
    font-weight: 600;
    font-size: 32px;
    height: 60px;
    padding: 60px 0 10px 0;
}
/* ===================================== */
/*     SECTION GOÛTS PAGE D'ACCEUIL      */
/* ===================================== */
.saveurs {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-coffee-planty);
}
.gouts {
    padding-top: 20px;
    font-size: 32px;
    color: var(--red-argile-planty);
}
.galerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-coffee-planty);
    max-height: 780px;
    padding: 20px 0 50px 0;
    border-radius: 0% 0% 50% 50% / 0% 0% 3% 3% ;
}
.galerie>div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 80%;
    max-width: 960px;
}
.galerie>div figure {
    width:40%;  
}

/* ===================================== */
/*      SECTION AVIS PAGE D'ACCEUIL      */
/* ===================================== */
.avis>div {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avis-titre {
    font-size: 30px;
    padding: 40px 0 84px 0;
    width: 100%;
    color: var(--original-planty-green);
}
.avis-flexbox>div {  
    width: 80%;
    max-width: 1152px;
    margin: auto;
    gap:40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center ;
}
.avis-boite {
    width:33%;
    display: flex;
    flex-wrap: nowrap;
    
}
.avis-boite>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.portrait>figure {    
    width: 33%;
}
.comment {
    width: 66%;
}
.comment h4 {
    padding: 20px 0 0 20px;
    font-family:  "Syne", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--original-planty-green);
}
.comment p {
    font-size: 16px;
}
/* ===================================== */
/*        SECTION HERO PAGE CONTACT      */
/* ===================================== */
.rencontrer{
    background-color: var(--white-coffee-planty);
    border-radius: 0% 0% 50% 50% / 0% 0% 20% 20% ;
    height: 420px ;
    padding-bottom: 0;

}
.rencontrer>div {
    display: flex;
   flex-direction: column;


}
.rencontrer-text>div {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 60%;    
}
.rencontrer-text>div h2 {
    color: var(--red-argile-planty);
    font-size: 38px;
}
.rencontrer-text>div p {
    padding-top: 30px;
    font-size: 20px;
    width: 720px;
}
.deco-fruit {
    align-self: center;    
}
.rencontrer img {
    width: 180px;
    margin-right: 980px;
    position: relative; 
    top:70px;
}

/* ===================================== */
/*      SECTION ÉQUIPE PAGE CONTACT      */
/* ===================================== */
.equipe>div {
    height: 430px;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.contact-titre {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}
.equipe-flexbox>div {
    padding:50px;
    gap:160px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.equipe-boite h4{
    font-family:  "Syne", sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 20px;
}
.deco-feuille {
    align-self: center;
    margin-left: 72rem;
    position: absolute;
    bottom: -42px;
}
.contact {
    padding-top: 40px;
    margin-top: 40px;
    background-color: var(--white-coffee-planty);
}
/* ===================================== */
/*           RÈGLES FORMULAIRES          */
/* ===================================== */
.formulaire>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -200px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
label {
    font-family: "Syne", sans-serif;
    font-size: 1.4rem;
}
#name,
input[type="text"],
input[type="email"] {
    width: 100%;
    height: 74px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}
.message {
    width: 100%;
    resize:none;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    padding: 24px;
    position: relative;
    z-index: 2;
}
.parfum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
input[type="submit"]{
    display: block;
    background-color: var(--planty-pale-rose);
    border: none;
    border-radius: 6px;
    width: 200px;
    max-height: 76px;
    font-family:  "Syne", sans-serif;
    font-size: 0.9rem;
    color: #fff;
    padding: 19px 24px;
    margin: 24px auto;
    font-weight: 600;
}
.bouton:hover,
input[type="submit"]:hover {
    background-color: var(--red-hover-planty);
}
.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--planty-pale-rose);
    border: none;
    border-radius: 6px;
    width: 200px;
    max-height: 54px;
    font-family:  "Syne", sans-serif;
    color: #fff;
    margin: 10px auto;
    font-weight: 700;
}
.bouton a {
    font-size: 1rem;
    color: #fff;
    display: block;
    width: 160px;   
}
.deco-baies-feuilles {
    align-self: center;
    position: relative;
    bottom: 272px;
    margin-right: 23.4rem;
}
/* ==================== */
form h3 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: 20px;
    color: #fff;
}
.info-livraison {
    display: flex;
    padding: 60px 0;
}
fieldset {
    font-family: "Syne", sans-serif;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0 40px 0 40px;
}
.filet {
    border-right: 1px solid #fff;
}
.info {
    padding-bottom: 10px;
}
.info-livraison label {
    color: #fff;
    font-size: 1.2rem;
}
.coordonnees {
    margin-bottom: 30px;
}
 input[name="ville"],
 input[name="email"] {
    margin-bottom: -20px;
 }
.dose {
    padding: 16px 8px;
    text-align: center;
    font-size: 18px;
    width: 40px;
    border: none;
}
/* ===================================== */
/*      SECTION HERO PAGE COMMANDE       */
/* ===================================== */
.commande-conteneur {
    background-color: var(--original-planty-green);
    padding:0 80px;
    display: flex;
    justify-content: center;
}
.commander-titre {
    font-size: 38px;
    padding: 80px 0;
    color: #fff;
}
.commande-box {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  */
}

.commande-box h3 {
    color: #fff;
    font-weight: 700;
    align-self: flex-start;
    padding: 40px 0;
    margin-left: 0;
}
.commande {
    display: flex;
    justify-content: center;
    margin: auto;
    gap:40px;
}
.image-titre {
    position: relative;
}
.image-titre p {
    padding: 0;
}
.titre-centre {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0px;
}
.titre-centre h4 {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    color: #fff;
}
/* ===================================== */
/*     RÉGLAGES APPARENCE NAVIGATEURS    */
/* ===================================== */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
/* ===================================== */
/*                 FOOTER                */
/* ===================================== */
.frise {
    width:100vw;
}
#footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer a {
   color:#000; 
}

/* ===================================== */
/*            MEDIAS QUERIES             */
/* ===================================== */

@media (max-width:1366px ) {
    .deco-feuille {
        margin-left: 80vw;
    }
    fieldset {
        width: 500px;
    }
}
@media (max-width:1280px ) {
    .galerie>div {
        width: 762px;;
    }
    .avis>div {
        padding:0 3.2vw;
    }
    .avis-flexbox>div  {
        padding:0 3.2vw;
        width: 94vw;
        gap: 0;
        margin-left: 0;
    }
    .comment p {
        font-size: 1rem;
    }
    .rencontrer img {
        margin-right: 70vw;
        width: 160px;
    }
    .equipe-flexbox>div{
        gap:9vw;
    }
    .deco-feuille {
        margin-left: 80vw;
    }
    
}
@media (max-width:1020px ) {
    .galerie>div {
        width: 80%;
    }
    .titre-accueil,
    .commander-titre,
    .rencontrer-text>div h2 {
        font-size: calc(2vw + 1.2rem);
    }
    .avis>div {
        padding: 40px;
    }
    .avis-boite>div  {
        flex-wrap: wrap;
        position: relative;
    }
    .comment p  {
        padding:5px 0;
    }
    .comment h4 {
        position: absolute;
        top: 94px;
        left: 44px;
    }
    .deco-feuille {
        display: none;
    }
}
@media (max-width:810px ) {
    #menu-principal li {
        margin-inline-start: 0;
    }
    #menu-principal li.commander,
    #menu-principal li.lien-admin {
        padding-right: 10px;
        padding-left: 10px;
    }
    .feuille-gauche {
        margin-right: 42vw;
    }
    .feuille-droite {
        margin-left: 42vw;
    }
    .rencontrer-text>div p {
        font-size: 18px;
        width: 100%;
    }
    .commande-box{
        width: 80vw
    }
    .titre-centre h4 {
        font-size: calc(1vw + 0.4rem);
    }
    .info-livraison {
        width: 760px;
    }
}
@media (max-width:666px ) {
    #header {
        flex-direction: column;
        min-height: 160px;
        max-height: 320px;
    }
    .logo {
        padding: 30px 0;
    }
    #menu-principal  {
        flex-direction: column;        
    }
    #menu-principal li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 80px;
        width: 100vw;
        z-index: 1;
    }
   
    #menu-principal li.lien-rencontrer:hover,
	#menu-principal li.lien-admin:hover {
        background-color: var(--planty-pale-rose);
    }
	#menu-principal li.lien-rencontrer a:hover,
	#menu-principal li.lien-admin a:hover {
		color:#fff;
	}
    #menu-principal li.lien-admin {
        order:4;
    }
    .galerie{
        min-height: 1192px;
        margin-bottom: 80px;
    }
    .galerie>div {
        gap: 10px;
        height: 1192px;
        width: 100%;
        padding: 10px;
        margin-top: -40px;
        padding-bottom: 30px;
    }
    .galerie>div figure {
        width:100%;
        display: flex;
        justify-content: center;
    }
    .feuille-gauche {
        display: none;
    }
    .feuille-droite {
        display: none;
    }
    .nrj {
        padding: 40px;
        font-size: 1.1rem;
    }
    .saveurs>div p {
        font-size: 1.1rem;
    }
    .avis>div {
        height: 900px;

    }
    .avis-titre {
        font-size: 30px;
        padding: 0;
        width: 100%;
        color: var(--original-planty-green);
    }
    .avis-flexbox>div {
        width: 100%;
        height: 800px;
        flex-direction: column;
        align-items: center;
        gap:40px;
    }
    .avis-boite {
        width:80%;
        margin-left: 3.2vw;
        display: flex;
    }
    .avis-boite>div {
        display: flex;
        flex-direction: column;
    }  
    .comment {
      width: 100%;
    }
    .rencontrer {
        min-height: 480px ;
    }
    .rencontrer img  {
        margin: 0;
        position: unset;
    }
    .equipe>div {
        height: 940px;
    }
    .equipe-flexbox>div {
        flex-direction: column;
        gap:10px;
    }
    .deco-feuille,
    .deco-baies-feuilles {
        display: none;
    }
    .formulaire>div {
        margin-bottom: 0;
    }
    .commande {
        flex-direction: column;
    }
    .commande-box h3 {
        align-self: center;
    }
    .titre-centre h4 {
        font-size: calc(1vw + 1.8rem);
    }
    .info-livraison {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }
    fieldset {
        padding: 30px 0 0 0;
        align-items: center;
    }
    .filet {
        border: none;
    }
    }
@media (max-width: 412px ){
    .nrj {
        margin-top: 10px;
    }
    .energie {
        padding: 30px;
    }
    .avis-boite {
        width: 100%;
    }
    .rencontrer{
        height: 520px;
    }
    .titre-accueil,
    .commander-titre,
    .rencontrer-text>div h2 {
        font-size: 1.5rem;
    }
    .info-livraison input {
        width:80vw;
    }
    .info, 
    .commande-box h3 {
    font-size: 1.3rem; 
    }
}

/*=======================================================================================================*/

/* ===================================== */
/*                EXTRAS                 */
/* ===================================== */
.pleine-largeur{
    width: 100%;
    background-color: var(--white-coffee-planty);
}
.legal-box {
    width: 60%;
    margin: auto;
    padding: 60px;
}
.titre {
    padding: 40px;
    text-align: center;
    font-family:  "Syne", sans-serif;
    font-weight: 800;
    font-size: 3rem; 
    color: var(--original-planty-green);
}
.sous-titre {
    padding-left: 20px;
    font-size: 2rem;
}
/* ===================================== */
/*            END OF EXTRAS              */
/* ===================================== */
.toggle,
    #toggle {
        display: none;
    }

    #toggle:checked+#menu-principal {
        display: flex;
    }

    @media screen and (max-width: 768px) {
        .toggle {
            display: block;
			text-align:center;
            cursor: pointer;
            font-size: 1.5em;
            padding: 0.5em;
        }

        #menu-principal {
            display: none;
            background-color: #f8f8f8;
            border-top: 1px solid #ccc;
        }

        
    }